$white: #ffffff;
$black: #141314;
$primary: #0B57D0;
$secondary: #DA511F;
$secondary1: #D3E3FD;
$background: #F7F8FA;
$paragraph: #323232;
$border:#EAEAEA;
$transition: all 0.3s ease-out 0s;
$shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
$tertiary:#1A73E8;