.back_or_add_btn {
  background-color: $tertiary;
  color: $white;
  border-radius: 50px;
  @include font(14px, 500);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 3px 17px 3px 3px;

  span {
    background-color: $white !important;
    color: $black !important;
  }

  &:hover {
    background-color: $black;
    color: $white;

    span {
      background-color: $white;
      color: $tertiary;
    }
  }

  span {
    margin-right: 9px;
    width: 30px;
    height: 30px;
    background-color: $black;
    border-radius: 50%;
    color: $white;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: $transition;

    svg {
      width: 20px;
      height: 20px;
    }
  }
}