.base_search {
  .view {
    flex: 0 0 auto;
  }

  .search_box {
    flex-grow: 1;
    width: 100%;
  }

  .theme_btn {
    margin-left: 50px;
    flex: 0 0 auto;
  }
}

@media (max-width:767.98px) {
  .base_search .theme_btn {
    margin-left: 0px;
  }

}

@media (max-width:575.98px) {
  .page_header .title {
    font-size: 20px;
  }
  .base_search{
    display: block !important;
  }
  .theme_btn{
    width: 100%;
  }
}