.footer_area {
  background-color: $white;
  margin-top: auto;
  padding: 20px 24px;

  p {
    font-size: 15px;
    font-weight: 500;
    line-height: 22px;

    a {
      color: $primary;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

@media (max-width:575.98px) {
  .footer_area p {
    font-size: 14px;
  }
}