.e_ticketing_frontend {
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 0px);

  .content_body {
    margin: 30px 0;
  }
}

// admin part start
.right_content {
  padding: 14px;
  padding-top: 10px;
  padding-left: 254px;
  // transition: $transition;

  .content_body {
    display: flex;
    flex-direction: column;
    min-height: calc(100vh - 74px);
    background-color: $white;
    border-radius: 20px;
    overflow: hidden;
    padding: 18px 14px;

    .component_loader {
      position: absolute;
      border-radius: 20px;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: $white;
      z-index: 999;
      display: flex;
      justify-content: center;
      align-items: center;

      .loader {
        width: 35px;
        aspect-ratio: 1;
        border-radius: 50%;
        border: 3px solid #1A73E8;
        animation:
          l20-1 0.8s infinite linear alternate,
          l20-2 1.6s infinite linear;
      }

      @keyframes l20-1 {
        0% {
          clip-path: polygon(50% 50%, 0 0, 50% 0%, 50% 0%, 50% 0%, 50% 0%, 50% 0%)
        }

        12.5% {
          clip-path: polygon(50% 50%, 0 0, 50% 0%, 100% 0%, 100% 0%, 100% 0%, 100% 0%)
        }

        25% {
          clip-path: polygon(50% 50%, 0 0, 50% 0%, 100% 0%, 100% 100%, 100% 100%, 100% 100%)
        }

        50% {
          clip-path: polygon(50% 50%, 0 0, 50% 0%, 100% 0%, 100% 100%, 50% 100%, 0% 100%)
        }

        62.5% {
          clip-path: polygon(50% 50%, 100% 0, 100% 0%, 100% 0%, 100% 100%, 50% 100%, 0% 100%)
        }

        75% {
          clip-path: polygon(50% 50%, 100% 100%, 100% 100%, 100% 100%, 100% 100%, 50% 100%, 0% 100%)
        }

        100% {
          clip-path: polygon(50% 50%, 50% 100%, 50% 100%, 50% 100%, 50% 100%, 50% 100%, 0% 100%)
        }
      }

      @keyframes l20-2 {
        0% {
          transform: scaleY(1) rotate(0deg)
        }

        49.99% {
          transform: scaleY(1) rotate(135deg)
        }

        50% {
          transform: scaleY(-1) rotate(0deg)
        }

        100% {
          transform: scaleY(-1) rotate(-135deg)
        }
      }
    }
  }
}

// responsive css
@media (max-width:1399.98px) {
  .right_content {
    padding-left: 225px;
  }
}

@media (max-width:991.98px) {
  .right_content {
    padding-left: 14px !important;
    padding-bottom: 0;
  }

}