.mutiple_add_options {
  .multiple_item {
    .form-group {
      flex-grow: 1;
    }
  }

  .multiple_item+.multiple_item {
    margin-top: 12px;
  }

  .action_btn {
    flex: 0 0 auto;

    button {
      width: 42px;
      height: 42px;
      background-color: crimson;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 5px;
      color: $white;
      border: 0;

      &:hover {
        background-color: $black;
      }

      svg {
        width: 20px;
        height: 20px;
      }
    }

    .add {
      background-color: green;
    }
  }
}

// admin part css
.msg_reply_area {
  .multiple_item {
    input {
      border-radius: 0 8px 8px 0 !important;
    }

    .input-group .chosen-container-single .chosen-single {
      border-radius: 8px 0 0 8px !important;
    }
  }
}