.top_short_info {
  background-color: $white;
  border: 1px solid $border;
  text-align: center;
  border-radius: 10px;
  transition: $transition;

  a {
    padding: 40px 20px;
  }

  .number {
    color: $primary;
    font-size: 42px;
    font-weight: 400;
  }

  .title {
    color: $black;
    font-size: 20px;
    font-weight: 400;
    margin-top: 12px;
  }

  &:hover {
    border-color: $primary;
  }
}


// responsive css
@media (min-width:1400px) and (max-width:1799.98px) {
  .top_short_info .text .title {
    font-size: 24px;
  }

  .top_short_info .icon {
    width: 70px;
    height: 70px;
  }

  .top_short_info .icon svg {
    width: 34px;
    height: 34px;
  }

  .top_short_info {
    padding: 8px 8px;
  }
}

@media (max-width:1399.98px) {
  .top_short_info {
    padding: 0;
  }

  .top_short_info .text .title {
    font-size: 24px;
  }

  .top_short_info .text .label {
    font-size: 14px;
    margin-bottom: 10px;
  }

  .top_short_info .icon {
    width: 60px;
    height: 60px;

    svg {
      width: 30px;
      height: 30px;
    }
  }
}


// admin part start
.top_short_info-admin {
  padding: 15px 10px;

  .text {
    .label {
      @include font(16px, 500);
      color: $black;
      margin-bottom: 13px;
      text-align: start
    
    }

    .title {
      @include font(34px, 700);
      color: $black;
    }
  }

  .icon {
    width: 80px;
    height: 80px;
    background-color: #D3E3FD;
    flex: 0 0 auto;

    svg {
      transition: $transition;
      width: 40px;
      height: 40px;
      color: $black;
    }
  }

  &:hover {
    .icon {
      svg {
        transform: rotateY(380deg);
      }
    }
  }
}
