.profile_page {
  .profile_info {

    .profile_image {

      .image {
        width: 175px;
        height: 192px;
        border-radius: 5px;
        margin: 0 auto;
        margin-top: 30px;

        img {
          height: 100%;
          object-fit: cover;
          object-position: center;
        }

        &:hover {
          .file_upload_label2{
            visibility: visible;
            opacity: 1;
          }
        }
      }

      .file_upload_label2 {
        background: rgba(0, 0, 0, 0.72);
        border-radius: 0px 0px 5px 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: $white;
        cursor: pointer;
        position: absolute;
        bottom: 0;
        right: 0;
        transition: $transition;
        width: 100%;
        padding: 8px 8px;
        font-size: 13px;
        font-weight: 500;
        gap: 5px;
        visibility: hidden;
        opacity: 0;

        &:hover {
          background-color: $black;
        }

        svg {
          width: 18px;
          height: 18px;
          position: relative;
          top: -1px;
        }
      }
    }

    .profile_text {
      margin-top: 24px;
      padding-bottom: 30px;

      .name {
        @include font(24px, 600);
        color: $black;
        margin-bottom: 8px;
      }

      p {
        @include font(16px, 500);
        color: $paragraph;
      }
    }

    .profile_description {
      p{
        font-size: 13px
      }
      .info_item {
        .title {
          @include font(15px, 600);
          margin-bottom: 5px;
        }

        margin-bottom: 16px;
      }
    }
  }
}

.base_tabs .nav-pills {
  border-bottom: 1px solid #E1E3E1;
  display: flex;
  gap: 0px;
}

.base_tabs .nav-item {
  flex-grow: 1;
  max-width: 320px;
}

.base_tabs .nav-link {
  display: flex;
  align-items: center;
  background-color: transparent;
  padding: 10px 10px;
  width: 100%;
  border-radius: 0;
  border-bottom: 3px solid transparent;
}

.base_tabs .nav-link.active {
  background-color: transparent;
  border-color: $primary;
}

.base_tabs .nav-link:hover {
  background-color: #F4F4F4 !important;
}

.base_tabs .nav-link .icon {
  flex: 0 0 auto;
  /* margin-right: 18px; */
  position: relative;
  top: -2px;
}

.base_tabs .nav-link .text {
  margin-left: 10px;
}

.base_tabs .nav-link .icon .svg_icon {
  color: $black;
  position: relative;
  top: 1px;
}

.base_tabs .nav-link .title {
  font-size: 16px;
  font-weight: 500;
  color: $black;
  text-transform: capitalize;
}

.base_tabs .nav-link .title small {
  font-size: 11px;
  font-weight: 500;
  color: $white;
  padding: 4px 8px;
  border-radius: 50px;
  background-color: $primary;
  margin-left: 10px;
  position: relative;
  tab-size: -2px;
}

.base_tabs .nav-link.active .icon .svg_icon {
  stroke: $primary;
}

.base_tabs .nav-link .icon i {
  color: $black !important;
}

.base_tabs .nav-link.active .icon i {
  color: $primary !important;
}

.base_tabs .nav-link.active .title {
  color: $primary;
}
