.reply_box {
  background-color: $white;
  border-radius: 10px;

  .reply_btn {
    background-color: transparent;
    border: 0;
    width: 100%;
    padding: 12px 20px;

    .text {
      color: $primary;
      font-size: 17px;
      font-weight: 500;
      line-height: normal;

      svg {
        width: 20px;
        height: 20px;
        margin-right: 5px;
        position: relative;
        top: -1px;
      }
    }
  }

  .reply_form_box {
    border-top: 1px solid #E1E3E1;
    padding: 14px 21px 15px;
    transition: none;
  }
}

.messages_area {
  margin-top: 20px;
  position: relative;

  &::after {
    top: 0;
    left: 18px;
    background-color: #7C7C7C;
    content: "";
    position: absolute;
    width: 1px;
    height: 100%;
    z-index: -1;
  }

  .msg_box+.msg_box {
    margin-top: 20px;
  }

  .msg_box {
    border-radius: 10px;
    background-color: $white;
    border-left: 3px solid $primary;
    position: relative;

    &::after {
      top: 50%;
      transform: translateY(-50%);
      left: -44px;
      background-color: #7C7C7C;
      content: "";
      position: absolute;
      width: 30px;
      height: 1px;
      z-index: -1;
    }

    &::before {
      top: 50%;
      transform: translateY(-50%);
      left: -17px;
      background: url(../images/arrow-right.svg);
      content: "";
      position: absolute;
      width: 8px;
      height: 9px;
      z-index: -1;
    }

    &:first-child {
      &::after {
        display: none;
      }

      &::before {
        display: none;
      }
    }

    .msg_header {
      border-bottom: 1px solid #E1E3E1;
      padding: 16px 20px;

      .title {
        font-size: 19px;
        font-weight: 500;
        display: flex;
        align-items: center;

        .tags {
          color: #ffffff;
          font-size: 11px;
          font-weight: 500;
          padding: 3px 10px;
          border-radius: 20px;
          background-color: #0B57D0;
          margin-left: 10px;
        }

        .client {
          background-color: $secondary;
        }
      }
    }

    .msg_body {
      padding: 20px;
      padding-top: 16px;
      padding-bottom: 16px;

      p+p {
        margin-top: 0;
      }
    }

    .msg_footer {
      border-top: 1px solid #E1E3E1;
      padding: 14px 20px;

      .title {
        margin-bottom: 12px;
        font-size: 16px;
        font-weight: 600;
      }

      button {
        border-radius: 5px;
        border: 1px solid #D9D9D9;
        color: #323232;
        font-size: 14px;
        font-weight: 400;
        padding: 8px 14px;
        background-color: #ffffff;
        text-align: left;

        svg {
          width: 18px;
          height: 18px;
        }

        &:hover {
          background-color: #f5f5f5;
        }
      }
    }
  }

  .message_client {
    border-left: 3px solid $secondary;
  }

  .child_msg {
    margin-left: 60px;
  }
}

.ticket_information_sidebar {
  .box {
    background-color: $white;
    border-radius: 10px;
    margin-bottom: 16px;
    padding-bottom: 18px;

    ul {
      li {
        padding: 18px 14px 0 14px;

        .title {
          color: $black;
          font-size: 17px;
          font-weight: 600;
          margin-bottom: 2px;
        }

        p {
          color: $paragraph;
          font-size: 14px;
          font-weight: 400;

          .tags {
            color: $white;
            font-size: 11px;
            font-weight: 500;
            padding: 3px 10px;
            border-radius: 20px;
            background-color: $primary;
          }
        }
      }

      li+li {
        margin-top: 14px;
        border-top: 1px solid #ddd;
        padding-top: 14px;
      }
    }
  }

  .button_groups {
    margin-bottom: 16px;

    button {
      width: 50%;
      flex-grow: 1;
      box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.19);
      background-color: $primary;
      border-radius: 5px;
      color: $white;
      font-size: 15px;
      font-weight: 600;
      padding: 11px 20px;
      border: 0;

      &:hover {
        background-color: $secondary;
      }
    }

    .close {
      background-color: $black;

      &:hover {
        background-color: $secondary;
      }
    }
  }

  .attachments {
    .a_title {
      color: $black;
      font-size: 17px;
      font-weight: 600;
      margin-bottom: 8px;
    }

    .atc_box {
      border-radius: 5px;
      border: 1px solid #D9D9D9;
      color: $paragraph;
      font-size: 14px;
      font-weight: 400;
      padding: 13px 18px;
      background-color: $white;
      text-align: left;

      svg {
        position: relative;
        top: -1px;
        margin-right: 5px;
      }
    }
  }
}

@media (max-width:991.98px) {
  .page_header .title {
    font-size: 20px;
  }
}

@media (max-width:575.98px) {
  .messages_area .msg_box .msg_header .title {
    flex-direction: column;
    gap: 5px;
  }

  .messages_area .msg_box .msg_header .title {
    align-items: first baseline;
  }

  .messages_area .child_msg {
    margin-left: 30px;
  }

  .messages_area::after {
    left: 10px;
  }

  .messages_area .msg_box::before {
    left: -14px;
  }

  .messages_area .msg_box::after {
    left: -23px;
    width: 15px;
  }
}


// admin part start

.viewer_action_btn {
  .p_btn {
    width: 32px;
    height: 32px;
    background-color: #F2F2F2;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: #4B4B4B;
    margin-left: 5px;
    border: 0;

    &:hover {
      background-color: $secondary1;
    }

    svg {
      width: 18px;
      height: 18px;
    }
  }
}

.msg_reply_area {

  .reply_card {
    .reply_header {
      border-bottom: 1px solid #E1E3E1;
      padding: 16px 20px;

      .title {
        font-size: 19px;
        font-weight: 500;
        display: flex;
        align-items: center;
      }
    }

    .reply_body {
      padding: 20px;
    }
  }



  .action_btn .icon {
    width: 18px !important;
    height: 18px !important;
    color: #141314;
    margin: 0 7px;
  }
}

.view_sec_bg {
  background-color: $background;
  border: 1px solid #E3E3E3;
  border-radius: 10px;
  padding: 14px;
  position: relative;
  // height: 100%;

  .tags {
    color: #ffffff;
    font-size: 11px;
    font-weight: 500;
    padding: 3px 10px;
    border-radius: 20px;
    background-color: #0B57D0;
    margin-left: 10px;
  }

  table {

    th,
    td {
      background-color: transparent !important;
      padding: 8px !important;
    }
  }

  .time_sec {
    width: 60%;

    button {
      color: #000;
      font-size: 14px;
      padding: 5px;
      min-width: 100px;
      background: linear-gradient(145deg, #e2e8ec, #ffffff);
      box-shadow: 5px 5px 15px #D1D9E6, -5px -5px 15px #ffffff;
    }

    // button.start {
    //   background-color: #8CFF82;
    // }

    // button.pause {
    //   background-color: #FFECA7;

    // }

    // button.finish {
    //   background-color: #FF6F6F;

    // }
  }

  .accordion-item, .accordion-button{
    background-color: transparent !important;
  }

  .accordion-button:focus{
    box-shadow: none;
  }

  .bg {
    width: 24px;
    height: 24px;
    background-color: #F2F2F2;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: #4B4B4B;
    margin-left: 5px;
    border: 0;
  }

}

.less_drop {
  .form-control {
    height: auto !important;
    border-radius: 0px !important;
    border: none !important;
    background-color: $background;
    padding: 0 38px 0 14px;
    font-weight: 600;
  }
}

.curr_team {
  .mem_info {
    width: 40%;

    .image {
      width: 100px;
      height: 100px;
      margin: 0 auto;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }


  }
}