@import "../variable/variable";
@import "../mixin/font";
@import "../mixin/line-limit";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

span {
  display: inline-block;
}

a {
  display: inline-block;
  text-decoration: none;
}

a:hover,
a:focus {
  text-decoration: none;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

a,
button {
  transition: all 0.3s ease-out 0s;
}

body {
  overflow-x: hidden;
  @include font(15px, 400);
  font-family: "Poppins", sans-serif;
  color: $black;
  line-height: normal;
  background-color: $background;
  overflow-y: scroll;
}

::selection {
  background-color: $primary;
  color: $white;
}

.theme_btn {
  color: $white;
  font-size: 15px;
  font-weight: 500;
  line-height: normal;
  text-transform: capitalize;
  padding: 9px 14px;
  border-radius: 25px;
  background-color: $primary;
  border: 0;
  transition: 0.2s;
  text-align: center;
  min-width: 120px;
  svg{
    margin-right: 4px;
  }

  &:hover {
    // transform: translateY(-3px);
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  }
}





.mt-30 {
  margin-top: 30px
}

.mb-30 {
  margin-bottom: 30px
}

.mb-40 {
  margin-bottom: 40px
}

.mt-40 {
  margin-top: 40px
}

.mb-50 {
  margin-bottom: 50px
}

.mt-50 {
  margin-top: 50px
}

.mb-60 {
  margin-bottom: 60px
}

.mt-60 {
  margin-top: 60px
}

// line limit start
.line-limit-1 {
  @include line_limit (1 !important);
}

.line-limit-2 {
  @include line_limit (2 !important);
}

.line-limit-3 {
  @include line_limit (3 !important);
}

.line-limit-4 {
  @include line_limit (4 !important);
}

.line-limit-6 {
  @include line_limit (6 !important);
}

.line-limit-7 {
  @include line_limit (7 !important);
}

.line-limit-8 {
  @include line_limit (8 !important);
}

.line-limit-9 {
  @include line_limit (9 !important);
}

.line-limit-10 {
  @include line_limit (10 !important);
}

// loaders
.fullpage_loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: $white;
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;

  .loader {
    width: 35px;
    aspect-ratio: 1;
    border-radius: 50%;
    border: 3px solid #1A73E8;
    animation:
      l20-1 0.8s infinite linear alternate,
      l20-2 1.6s infinite linear;
  }

  @keyframes l20-1 {
    0% {
      clip-path: polygon(50% 50%, 0 0, 50% 0%, 50% 0%, 50% 0%, 50% 0%, 50% 0%)
    }

    12.5% {
      clip-path: polygon(50% 50%, 0 0, 50% 0%, 100% 0%, 100% 0%, 100% 0%, 100% 0%)
    }

    25% {
      clip-path: polygon(50% 50%, 0 0, 50% 0%, 100% 0%, 100% 100%, 100% 100%, 100% 100%)
    }

    50% {
      clip-path: polygon(50% 50%, 0 0, 50% 0%, 100% 0%, 100% 100%, 50% 100%, 0% 100%)
    }

    62.5% {
      clip-path: polygon(50% 50%, 100% 0, 100% 0%, 100% 0%, 100% 100%, 50% 100%, 0% 100%)
    }

    75% {
      clip-path: polygon(50% 50%, 100% 100%, 100% 100%, 100% 100%, 100% 100%, 50% 100%, 0% 100%)
    }

    100% {
      clip-path: polygon(50% 50%, 50% 100%, 50% 100%, 50% 100%, 50% 100%, 50% 100%, 0% 100%)
    }
  }

  @keyframes l20-2 {
    0% {
      transform: scaleY(1) rotate(0deg)
    }

    49.99% {
      transform: scaleY(1) rotate(135deg)
    }

    50% {
      transform: scaleY(-1) rotate(0deg)
    }

    100% {
      transform: scaleY(-1) rotate(-135deg)
    }
  }
}